<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BusinessObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="BusinessObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<BusinessObjects.Properties.Settings>
			<setting name="test" serializeAs="String">
				<value />
			</setting>
		</BusinessObjects.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<BusinessObjects.Properties.Settings>
			<setting name="KometUsername" serializeAs="String">
				<value>ruben.vasquez@rosaprima.com</value>
			</setting>
			<setting name="KometPassword" serializeAs="String">
				<value>komet2015</value>
			</setting>
			<setting name="PrdEnvironment" serializeAs="String">
				<value>UserID=serviciosps;Password=servicios;ServerName=bdprima;Compress=Yes;Connection Timeout=60;Connection Lifetime=5;Persist Security Info=True;Host=192.168.1.101:2638</value>
			</setting>
			<setting name="UATEnvironment" serializeAs="String">
				<value>UserID=serviciosps;Password=servicios;ServerName=tempobdp;Compress=Yes;Persist Security Info=True;Host=192.168.1.101:50399;Connection Timeout=60; Pooling = False; Min Pool Size = 1; Max Pool Size = 6;Connection Lifetime = 5</value>
			</setting>
			<setting name="KometExternalAppId" serializeAs="String">
				<value>12</value>
			</setting>
			<setting name="MailUsername" serializeAs="String">
				<value>coreprima@outlook.com</value>
			</setting>
			<setting name="MailPassword" serializeAs="String">
				<value>123123Dba2</value>
			</setting>
			<setting name="MailAddress" serializeAs="String">
				<value>smtp-mail.outlook.com</value>
			</setting>
			<setting name="MailPort" serializeAs="String">
				<value>587</value>
			</setting>
			<setting name="MailSsl" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="MailFrom" serializeAs="String">
				<value>jhoanna.torres@rosaprima.com</value>
			</setting>
			<setting name="MailTo" serializeAs="String">
				<value>helpdesk@rosaprima.com</value>
			</setting>
		</BusinessObjects.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>
</configuration>