<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="PrimasoftPrdConnection" providerName="" connectionString="UserID=serviciosps;Password=servicios;ServerName=bdprima;Compress=Yes;Persist Security Info=True;Host=192.168.1.101:2638;Connection Timeout=60; Pooling = False; Min Pool Size = 1; Max Pool Size = 6;Connection Lifetime = 5" />
		<add name="PrimasoftUATConnection" providerName="" connectionString="UserID=dba;Password=RP6obien;ServerName=tempobdp;Compress=Yes;Persist Security Info=True;Host=192.168.1.101:50399;Connection Timeout=60; Pooling = False; Min Pool Size = 1; Max Pool Size = 6;Connection Lifetime = 5" />
		<!--<add name="PrimasoftUATConnection" providerName="" connectionString="UserID=serviciosps;Password=servicios;ServerName=tempobdp;Compress=Yes;Persist Security Info=True;Host=192.168.1.202:2638;Connection Timeout=60; Pooling = False; Min Pool Size = 1; Max Pool Size = 6;Connection Lifetime = 5" />-->
		<add name="PrimasoftSlsConnection" providerName="" connectionString="UserID=dba;Password=sql;ServerName=dbventas;Compress=Yes;Persist Security Info=True;Host=10.0.1.11:2638;Connection Timeout=60; Pooling = False; Min Pool Size = 1; Max Pool Size = 6;Connection Lifetime = 5" />
	</connectionStrings>
	<appSettings>
		<!--Production, Test, Sales-->
		<add key="ConnectionSwitch" value="Test" />
		<add key="KometUsername" value="ruben.vasquez@rosaprima.com" />
		<add key="KometPassword" value="komet2015" />
		<add key="KometToken" value="9pcmk07ntcv6qvbpviqhfbq85b" />
		<add key="KSInvoiceStatus" value="1" />
		<add key="KSLocationId" value="25" />
		<add key="KSOpenStore" value="05:00:00" />
		<add key="KSCloseStore" value="20:00:00" />
		<add key="KSLatencyProcess" value="00:05:00" />
		<add key="KSExternalAppId" value="12" />
		<add key="DWTimeToSend" value="07:00:00" />
		<add key="DWCnfTimeToSend" value="20:00:00" />
		<add key="DWDaysBeforeDownload" value="8" />
		<!-- Correo de notificacion -->
		<add key="MailUsername" value="coreprima@outlook.com" />
		<add key="MailPassword" value="123123Dba2" />
		<add key="MailAddress" value="smtp-mail.outlook.com" />
		<add key="MailPort" value="587" />
		<add key="MailSsl" value="true" />
		<add key="MailFrom" value="diego.vega@rosaprima.com" />
		<add key="MailTo" value="diego.vega@rosaprima.com;ruben.vasquez@rosaprima.com" />
	</appSettings>
</configuration>